<div class="post-card relative w-100 mb4 br3 bg-transparent nested-copy-line-height hover--glowy-shadow border-small-glowy-pink h-100">
  <div class="bg-transparent mb3 br3 pa4 white-70 overflow-hidden">
    <span class="f6 db">{{ humanize .Section }}</span>
    <h1 class="f3 white-80">
      <a href="{{ .RelPermalink }}" class="main-post-card-link link white-80">
        {{ .Title }}
      </a>
    </h1>
    <div class="nested-links f5 lh-copy nested-copy-line-height">
      {{ .Summary }}
    </div>
  </div>
</div>
