{{ $featured_image := partial "func/GetFeaturedImage.html" . }}
{{ if $featured_image }}
  {{/* Trimming the slash and adding absURL make sure the image works no matter where our site lives */}}
  {{ $featured_image := (trim $featured_image "/") | absURL }}
  <header class="cover bg-top flex-shrink-0 flex-shrink-1-l h-75" style="background-image: url('{{ $featured_image }}');">
    <div class="h-100 {{ .Site.Params.cover_dimming_class | default "bg-black-70" }}">
      {{ partial "site-navigation.html" .}}
      <div class="tc-l pv5 pv6-l  ph3 ph4-ns">
        
        {{ if .Params.pre_order }}
        <h1 class="f1 f-subheadline-l fw2 glowy-pink mt0 mb0 lh-title">
          {{ .Params.title | default .Site.Title }}
        </h1>
        <p class="fw4 white-80 mb5 mb5-l mt3 lh-copy f4 f4-l">{{ .Params.pre_order_desc }}</p>
        <a class="db pre-order-link pa2 pa3-l bg-transparent fw1 f5 f3-l white-80 measure-wide-l center-l mt3"
          href="{{ .Params.pre_order_url }}">Pre-order now
          <!-- {{ .Params.description }} -->
        </a>
          <!-- <h2 class="fw1 f5 f3-l white-80 measure-wide-l center mt3">
            
          </h2> -->
          {{ else }}
          <h1 class="f2 f-subheadline-l fw2 glowy-pink mb0 lh-title">
            {{ .Title | default .Site.Title }}
          </h1>
          {{ with .Params.description }}
              <h2 class="fw1 f5 f3-l white-80 measure-wide-l center mt3">
                {{ . }}
              </h2>
              <!-- end param desc -->
          {{ end }}
          <!-- end pre-order -->
        {{ end }}
        
      </div>
    </div>
  </header>
{{ else }}
  <header>
    <div class="pb3-m pb6-l {{ .Site.Params.background_color_class | default "bg-black" }}">
      {{ partial "site-navigation.html" . }}
      <div class="tc-l pv3 ph3 ph4-ns">
        <h1 class="f2 f-subheadline-l fw2 light-silver mb0 lh-title">
          {{ .Title | default .Site.Title }}
        </h1>
        {{ with .Site.Params.description }}
          <h2 class="fw1 f5 f3-l white-80 measure-wide-l center lh-copy mt3 mb4">
            {{ . }}
          </h2>
        {{ end }}
      </div>
    </div>
  </header>
{{ end }}
