@import url("https://fonts.googleapis.com/css2?family=Lora&family=Merriweather&family=Overpass:wght@200&family=Raleway:wght@300&family=Roboto&display=swap");

:root {
  --main-pink: #ff00c8;
  --secondary-pink: #db34b7;
  --tertiary-pink: #c20198;
  --border-pink: #b3018c;
  --hover-pink: #fa45d3;
  --link-hover-pink: #ff7ce3;
  --mobile-menu-bg: #1e1c21;
  --main-bg-color: #1e1c21;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Roboto", sans-serif;
}

.top-2_2 {
  top: 2.2rem;
}

.post-card {
  cursor: pointer;
}

.post-card:hover .main-post-card-link {
  color: var(--hover-pink);
}

/* colors */

.active-tab {
  color: var(--main-pink);
  position: relative;
}

.active-tab::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: calc(100% - 16px);
  height: 3px;
  background-color: var(--main-pink);
}

.active-tab-mobile {
  position: relative;
}

.active-tab-mobile::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0px;
  height: 3px;
  width: 100%;
  background-color: var(--main-pink);
}

.bg-off-black {
  background-color: var(--main-bg-color);
}

.glowy-pink {
  color: var(--main-pink);
}

.glowy-pink-2 {
  color: var(--secondary-pink);
}

.glowy-pink-3 {
  color: var(--tertiary-pink);
}

.to-glowy-pink:hover {
  transition: color 0.3s ease-in;
  color: var(--main-pink);
}

.border-glowy-pink {
  border-color: var(--border-pink);
}

.border-small-glowy-pink {
  border: 1px solid var(--border-pink);
}

.border-med-glowy-pink {
  border: 2px solid var(--border-pink);
}

.bg-glowy-pink {
  background-color: var(--main-pink);
}

.bg-glowy-pink:hover {
  transition: all 0.3s linear;
  color: rgba(255, 255, 255, 0.9);
  background-color: var(--hover-pink);
}

.hover--bg-glowy-pink {
  background-color: transparent;
}

.hover--bg-glowy-pink:hover {
  transition: all 0.3s ease-in;
  color: rgba(255, 255, 255, 0.9);
  background-color: var(--border-pink);
}

.hover--glowy-shadow {
  /* transition: box-shadow 0.3s ease-in; */
  box-shadow: 0 0 0px var(--main-pink);
  position: relative;
}

/* using an after effect because opacity only requires recompositing on most browsers */
/* changing box-shadow requires repaint and recomposite */
.hover--glowy-shadow::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;

  /* important! otherwise edges poke out over posts */
  border-radius: 0.5rem;

  transition: opacity 0.3s ease-in;
  box-shadow: 0 0 10px var(--main-pink);

  opacity: 0;
}

.hover--glowy-shadow:hover::after {
  /* box-shadow: 0 0 10px #ff00c8; */
  opacity: 1;
}

/* *** links *** */

.pre-order-link {
  border: 2px solid var(--border-pink);
  border-radius: 8px;
  transition: background-color 0.3s ease-in;
  text-decoration: none;
  position: relative;
  width: fit-content;
  /* text-shadow: 0px 0px 10px var(--border-pink); */
  background-color: var(--border-pink);
}

.pre-order-link:hover {
  background-color: rgba(179, 1, 140, 0.3);
}

.markdown-links a {
  color: var(--secondary-pink);
  transition: all 0.3s linear;
  text-decoration: none;
}

.markdown-links a:hover {
  color: var(--link-hover-pink);
}

/*** overwriting hugo's internal pagination styles ***/
.pagination .page-item a {
  border: 1px solid var(--border-pink) !important;
  background-color: transparent !important;
  color: rgba(255, 255, 255, 0.9) !important;
}

.pagination .page-item.active a {
  background-color: var(--border-pink) !important;
}

/* other stuff */

.min-h-100 {
  min-height: 100px;
}

.mt-auto {
  margin-top: auto;
}

.inline-svg {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  top: -4px;
  position: relative;
}

.back-to-top-btn {
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: var(--main-pink);
  border: none;
  transition: all 0.3s linear;

  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 8;

  color: rgba(255, 255, 255, 0.8);

  display: none;
}

@media screen and (min-width: 480px) {
  .back-to-top-btn {
    bottom: 40px;
    right: 40px;
  }
}

@media screen and (min-width: 775px) {
  .back-to-top-btn {
    bottom: 50px;
    right: 50px;
  }
}

.back-to-top-btn.show {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.back-to-top-btn:hover {
  transform: scale(1.2);
}

.back-to-top-btn:active {
  transform: scale(0.4);
}

header div nav div .menu-container,
header div nav div .menu-container.close {
  cursor: pointer;
  transition: all 0.5s linear;
  position: absolute;
  z-index: 999;
}

.top-bar,
.middle-bar,
.bottom-bar {
  width: 30px;
  height: 3px;
  margin-bottom: 6px;
  background-color: rgba(255, 255, 255, 0.9);
  transition: all 0.3s linear;
}

.menu-container.close .top-bar {
  transform: translateY(9px) rotate(45deg);
}

.menu-container.close .middle-bar {
  transform: rotate(45deg);
  opacity: 0;
}

.menu-container.close .bottom-bar {
  transform: translateY(-9px) rotate(-45deg);
}

header div nav div .menu-overlay {
  opacity: 0;
  transition: all 0.5s ease-out;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  pointer-events: none;
}

header div nav div .menu-overlay.active {
  opacity: 1;
  pointer-events: all;
}

header div nav div .mobile-menu.active {
  transform: translateX(0%);
}

header div nav div .mobile-menu {
  transform: translateX(100%);

  max-width: 700px;
  width: 80%;
  height: 100%;
  min-height: 100%;
  z-index: 900;

  /* background-color: #a4a4a4; */
  background-color: var(--mobile-menu-bg);
  display: flex;
  flex-direction: column;
  gap: 25px;

  transition: all 0.5s ease-in;
  position: fixed;
  top: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-inner-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  height: 80%;
  width: 80%;
}
